html {
  /* rem em */
  /* em 相对于父元素的font-size */
  /* rem 相对于根元素html的font-size r就是root的意思*/
  /* 16 * 62.5% = 10px */
  /* 1rem === 10px */
  font-size: 62.5%;
}

/* viewport height === vh */
html body #root .App{
  min-height: 100vh;
}

.example {
  /* margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
